/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

:root {
    --header-height: 32px;
    --safe-area: 10px;
}

#terminal-container, #welcome-container {
    height: calc(100vh - var(--header-height) - var(--safe-area));
    margin-bottom: var(--safe-area);
    width: calc(100% - (var(--safe-area) * 2));
    margin-left: var(--safe-area);
    margin-right: var(--safe-area);
}

#welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.fade-in-image { animation: fadeIn 2s; }
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#terminal {
    height: 100%;
    width: 100%;
}

#header {
    width: 100%;
    height: var(--header-height);
}