/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

:root {
    --header-height: 32px;
    --safe-area: 10px;
}

#terminal-container {
    height: calc(100vh - var(--header-height) - var(--safe-area));
    margin-bottom: var(--safe-area);
    width: calc(100% - (var(--safe-area) * 2));
    margin-left: var(--safe-area);
    margin-right: var(--safe-area);
}

#terminal {
    height: 100%;
    width: 100%;
}

#header {
    width: 100%;
    height: var(--header-height);
}